@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome KSC Quizzers</h1>
    <p>The place to quiz for all the KSC pros</p>
</div>

<div class="card">
    <h4 class="card-title">General Knowledge</h4>
    <div class="card-text">Sample Text</div>
</div>
